.pin {
  width: 20px;
  height: 20px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.31, 0.31, 0.95);
          transition-timing-function: cubic-bezier(0.95, 0.31, 0.31, 0.95);
}
